<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container contact-form">
           
            <form method="post">
                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="name" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="email"  name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text"   [(ngModel)]="number"  name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <button type="submit"  name="btnSubmit" class="btnContact" value="Send Message" (click)="submit()" >Submit</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" [(ngModel)]="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form></div>
           
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="https://wallpapercave.com/wp/wp1938820.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">I couldn't find the sports car of my dreams, so i built it myself</p>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="https://images.pexels.com/photos/5762613/pexels-photo-5762613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">If you don't look back at your car after you park it, you own the wrong car</p>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="https://images.pexels.com/photos/1413412/pexels-photo-1413412.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Work hard until your idols become your rivals</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <svg class="w-5 h-5 text-black ml-4" role="presentation" aria-hidden="true"><use xlink:href="#sprite-icon-search"></use></svg>
       