
<div class="container" > 

    <div class="row">

        <div class="col-md-7">

            <h1>{{single[0].titles}}</h1>

 

           

            <img src="{{single[0].imgs}}" height="470px" width="650px" alt="">

        </div>

        <div class="col"><br><br>

            <h5>{{single[0].detail}}</h5>

            <!-- <img src="assets\images\{{single[0].img}}" height="500px" width="400px" alt=""> -->

        </div> 

 

    </div>
    <button class="c"><a href="bookingpages">Book Now</a></button>

   

</div>
