<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>MACFAST COLLEGE, THIRUVALLA</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>KelvinMathew@gmail.com</span><br>
                            <span>KebinBJacob@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="https://3.bp.blogspot.com/-f-unfTSONzU/X9EZmPlnMWI/AAAAAAAAC-g/jFJUNK7LNTMISwkWVit3VBGn-5MXJNwOwCK4BGAYYCw/s1600/CarBike%2BLogo.jpg" class="img-fluid" alt="" width="600" height="60" ></a>
                            
                        </div>
                        <div class="footer-text">
                            <p> car&bike information was founded by two friends with years of experience in the online reantal field. We love to travel and to share our insights with other vacation goers. After years of using tourism websites, we noticed that often times it's possible to save a lot of money with the help of efficient and thorough price comparisons</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href=""><i class="fab fa-facebook-f facebook-bg">INSTAGRAM</i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i>TWITTER</a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i>FACEBOOK</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="car page">car</a></li>
                            <li><a href="bikepage">bike</a></li>
                            
                            <li><a href="sign in">sign in</a></li>
                            <li><a href="sign up">sign up </a></li>
                            <li><a href="contact us">Contact us</a></li>
                            
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            
                        </div>
                        <div class="footer-text mb-25">
                            
                        </div>
                        <div class="subscribe-form">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                       
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>