


  <section class="vh-100" style="background-color: #f1f1f1f6;" id="bg">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div  class="col-md-6 col-lg-5 d-none d-md-block" style="margin-top: 100px;padding-left: 45px;">
                <img  src="https://images.pexels.com/photos/3264504/pexels-photo-3264504.jpeg?auto=compress&cs=tinysrgb&w=600"alt="login form" class="img-fluid">
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span id="font" class="h1 fw-bold mb-0"><b>SIGNUP</b></span>
                    </div>
  
                    <h5 id="font" class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>
  
                    <div class="form-outline mb-4">
                     
                          <label id="font" class="form-label" for="form3Example1c"><b> Name</b></label>
                          <input type="text" class="form-control form-control-lg" name="text" [(ngModel)]="name" >

                    </div>
                       <div class="form-outline mb-4">
  
                      <input type="email" id="form2Example17" class="form-control form-control-lg" /> 
                    
                        <label id="font"  class="form-label" for="form3Example1c"><b> Email</b></label>
                        <input type="email" id="form2Example17" class="form-control form-control-lg" name="email" [(ngModel)]="email" >
                    </div>
  
                    <div class="form-outline mb-4">
                     
                        <label id="font"  class="form-label" for="form3Example4c"><b> Password</b></label>
                        <input type="password" id="form2Example17" class="form-control form-control-lg" name="password" [(ngModel)]="password" >
                      

                    </div>
  
                    <div class="pt-1 mb-4">
                      <button id="bt" class="btn btn-dark btn-lg btn-block"  style="background-color: #5a3838;" type="button"  (click)="signup()">Signup</button>
                    </div>

                    <div class="col-md-6">
                        <a href="/signin" style="text-decoration: underline;color:#5a3838;">Already have an account ?</a>
                    </div>
  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
