<div id="container">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" data-bs-interval="1000">
      <div class="carousel-item active">
        <img src="https://wallpapersmug.com/download/2560x1440/044443/two-lamborghini-huracan.jpg" class="d-block w-100" alt="..." height="550" width="150">
      </div>
      <div class="carousel-item ">
        <img src="https://wlassets.aprilia.com/wlassets/aprilia/master/Range/RSV4/family_page/2023/hero/Piaggio_RSV4_website-2023_Hero_1920x800-1-/original/Piaggio_RSV4_website-2023_Hero_1920x800%5B1%5D.jpg?1673601269360" class="d-block w-100" alt="..." height="550" width="150">
      </div>
      <div class="carousel-item ">
        <img src="https://lh6.googleusercontent.com/proxy/TH4VYWp83Si4jxwcSkY9HYRBvD6gBnH_n4U4DeRBnJ90HtkjClIJZUpLL0PdRhw0ejH20bfPzXoabPzmLCzM1vXB02XxAphbS_LDP_0YkDuHD7EmULEdEmGmv1duqiJPb2lID2qWwC8f701veLtREg9A2-i2Tnc=w1200-h630-p-k-no-nu" class="d-block w-100" alt="..." height="550" width="150">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div background="https://wallpapercave.com/w/wp3745837">
    <br>
    <br>
    <div class="col">
        <div class="col">
        
        </div>
      </div>
      <br>
      <div class="container ">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://wallpaperaccess.com/full/4238.jpg" class="card-img-top" class="card-img-top" alt="..." height="300" width="400" >
                
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/39693/motorcycle-racer-racing-race-speed-39693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="..." height="300px" >
                
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"class="card-img-top" alt="..." height="300px">
                
              </div>
          </div>
        
    </div>
  </div>
</div>
