





<!DOCTYPE html>
<html>
<head >
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Booking Form</title>
</head>

<br><br>
<h2>Book Now!!</h2><br>
<div >
  <div>
    <div class="container1">
      <form action="submit_phpcrm_form.php" method="post">
      
        
            <!-- <p>Personal Details</p> --><br>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="phone">Phone</label>
            <input type="number" id="phone" name="phone" required>
   
              <p>Booking Details</p>
        <div class="row">
        
              <div class="col-50">
        
                <label for="time">Pick up(date and time):</label>
        <input type="datetime-local" id="time" name="time" required>
                        <label for="event">select Car or Bike </label>
                <select name="event" id="event">
                    <option value="bike"></option>
                  <option value="bike">Bike</option>
                  <option value="car">Car</option>
                  
                   
                </select>
        
              </div>
            
              <div class="col-50">

        <label for="passenger">Band name</label><br>
                <input type="name" id="passenger" name="passenger" required>
              </div>
            </div>     
       
        <div class="row">
          <div class="col-50">
            <p>Permanent Address</p>
             <label for="pstreet">Street</label>
              <input type="text" id="pstreet" name="pstreet" required>
              <label for="pcity">City</label>
              <input type="text" id="pcity" name="pcity" required>
              <label for="pstate">State</label>
              <input type="text" id="pstate" name="pstate" required>
             
             
          
          </div>
          <div class="col-50">
        
            <p> Communication Address</p>
               <label for="dstreet">Street</label>
              <input type="text" id="dstreet" name="dstreet" required>
              <label for="dcity">City</label>
              <input type="text" id="dcity" name="dcity" required>
              <label for="dstate">State</label>
              <input type="text" id="dstate" name="dstate" required>
             

        </div>
          </div>
            <label for="message">Message</label>
            <textarea id="message" name="message" style="height:100px"></textarea>  
       <input type="radio" id="cod" name="trip" value="cod">
      <label for="oneway">cash on delivery</label><br>
      
        <input type="submit" value="Confirm Booking" class="btn">
      </form>
    </div>
  </div>


